@import "../constants";

.homeheadercontainer {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  top: 150px;
  right: 10;
  left: 0;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  .mainnavitems {
    display: flex;

    align-items: center;
    // max-width: 980px;
    margin: 0 auto;

    .menulinks {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      .navbarlink {
        font-size: 20px;
        padding-left: 5px;
        a {
          font-weight: bold;
          color: $main-color;
          transition: 1s ease;
          &:hover {
            color: $main-color;
          }
        }
      }
    }

    /* media queries */

    /* media queries */
  }
  @media (max-width: 768px) {
    .homeheadercontainer {
      padding: 0.9rem 3%;
      .mainnavitems {
        .menulinks {
          display: none;
        }
        .bars {
          display: block;
        }
      }
      .onsmallscreen {
        display: block;
      }
    }
  }
}
