@import "../constants";

$clr-primary: #18ffff;
$clr-primary-light: #adffff;
$clr-primary-dark: #091034;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-bg: #060b23;
$radius: 1rem;

.logoutcontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  .logoutoptions {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    button {
      display: black;
      margin-left: auto;
      padding: 0.75rem 2rem;
      background: $clr-primary-dark;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      cursor: pointer;
      transition: 1s ease-in;
      color: red;
      font-weight: bold;
      &:hover {
        background-color: $clr-primary;
        color: black;
      }
    }
    a {
      display: black;
      margin-left: auto;
      padding: 0.50rem 2rem;
      background: $clr-primary-dark;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      cursor: pointer;
      transition: 1s ease-in;
      color: #ffc700;
      &:hover {
        background-color: $clr-primary;
        color: black;
      }
    }
  }
}
